In [13]:
# Práctica II

In [2]:
## Ejercicios
import pandas as pd
import numpy as np

# 1. Creación de DataFrames
# (a) Crea un DataFrame df1 con una columna llamada numeros que contenga los valores del 0 al 19.
data = list(range(20))
df1 = pd.DataFrame({'Numeros': data})
df1

    Numeros
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19

In [3]:
# (b) Crea un DataFrame df2 con una columna aleatorios de tamaño 10 con números aleatorios entre 0 y 1.

np.random.seed(10)

numeros_aleatorios = np.random.rand(10)
df2 = pd.DataFrame({'Aleatorios': numeros_aleatorios})
df2

   Aleatorios
0    0.771321
1    0.020752
2    0.633648
3    0.748804
4    0.498507
5    0.224797
6    0.198063
7    0.760531
8    0.169111
9    0.088340

In [4]:
# (c) Combina los DataFrames anteriores df1 y df2 en un nuevo DataFrame llamado df3.

df3 = pd.concat([df1,df2])
df3

    Numeros  Aleatorios
0       0.0         NaN
1       1.0         NaN
2       2.0         NaN
3       3.0         NaN
4       4.0         NaN
5       5.0         NaN
6       6.0         NaN
7       7.0         NaN
8       8.0         NaN
9       9.0         NaN
10     10.0         NaN
11     11.0         NaN
12     12.0         NaN
13     13.0         NaN
14     14.0         NaN
15     15.0         NaN
16     16.0         NaN
17     17.0         NaN
18     18.0         NaN
19     19.0         NaN
0       NaN    0.771321
1       NaN    0.020752
2       NaN    0.633648
3       NaN    0.748804
4       NaN    0.498507
5       NaN    0.224797
6       NaN    0.198063
7       NaN    0.760531
8       NaN    0.169111
9       NaN    0.088340

In [5]:
# (d) Guarda el DataFrame df3 en un fichero .csv.

df3.to_csv('mi_dataframe_3.csv', index=False)

In [57]:
# 2. Indexación y selección (10 pts)
# Dado el DataFrame:
import pandas as pd

df = pd.DataFrame({
"A": range(1, 11),
"B": [5,3,6,8,2,9,1,7,4,10]
})

# (a) Selecciona las filas donde el valor de la columna B sea mayor que 5.

mascara = df['B'] > 5

df_filtrado = df[mascara]

print("### DataFrame Filtrado (B > 5) ###")
print(df_filtrado)

### DataFrame Filtrado (B > 5) ###
    A   B
2   3   6
3   4   8
5   6   9
7   8   7
9  10  10

In [58]:
# (b) Cambia los valores menores que 4 en la columna B a NaN. Para usar el valor NaN hay que utilizar el código pd.NA

mascara_nan = df['B'] < 4


df.loc[mascara_nan, 'B'] = pd.NA

print("### DataFrame con pd.NA en Columna B (B < 4) ###")
print(df)

### DataFrame con pd.NA en Columna B (B < 4) ###
    A     B
0   1   5.0
1   2   NaN
2   3   6.0
3   4   8.0
4   5   NaN
5   6   9.0
6   7   NaN
7   8   7.0
8   9   4.0
9  10  10.0

In [100]:
# 3. Análisis de Datos
# Descargad el conjunto de datos disponible en la siguiente página web y utilizadel fichero winequality-red.csv. 
# Este dataset contiene información físico-química sobre diferentes vinos tintos de Portugal.

# Cargar el DataFrame
df = pd.read_csv('C:/Users/Usuario/ttda/winequality-red.csv')

print("DataFrame cargado correctamente. Primeras 5 filas:")
print(df.head())
print("-" * 50)

# Se pide:

# (a) Obtén los estadísticos descriptivos más relevantes (describe) de cada columna.
# Explica brevemente qué mide cada una de ellas.

DataFrame cargado correctamente. Primeras 5 filas:
   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5
--------------------------------------------------

1. fixed acidity (acidez fija)

Son los ácidos que no se evaporan fácilmente (como el ácido tartárico).
Afectan el sabor, la frescura y la estructura del vino.

2. volatile acidity (acidez volátil)

Indica la cantidad de ácidos que sí se evaporan (como el ácido acético).
En exceso puede dar un olor desagradable parecido al vinagre.

3. citric acid (ácido cítrico)

Pequeña cantidad presente de forma natural.
Aporta frescura y un toque cítrico al vino.

4. residual sugar (azúcar residual)

Cantidad de azúcar que queda tras la fermentación.
Valores altos → vino más dulce.

5. chlorides (cloruros)

Representa la cantidad de sal en el vino.
Niveles altos afectan negativamente el sabor.

6. free sulfur dioxide (SO₂ libre)

Parte del dióxido de azufre que actúa como conservante y evita el crecimiento de bacterias.
Protege al vino de la oxidación.

7. total sulfur dioxide (SO₂ total)

Incluye el SO₂ libre y el combinado.
Niveles muy altos pueden afectar el aroma.

8. density (densidad)

Qué tan “pesado” es el vino comparado con el agua.
Depende del azúcar, alcohol y otras sustancias.

9. pH

Mide la acidez total del vino.
Valores bajos → más ácido.
Valores altos → menos ácido.

10. sulphates (sulfatos)

Otro tipo de conservante.
Ayuda a combatir microbios y mejorar la estabilidad del vino.

11. alcohol

Porcentaje de alcohol del vino.
Influye en el cuerpo, sabor y percepción del vino.

12. quality (calidad)

Puntuación otorgada por expertos (generalmente entre 0 y 10).

In [101]:
# Obtener estadísticos descriptivos
descriptivos = df.describe()

print("### Estadísticos Descriptivos Relevantes ###")
print(descriptivos)
print("-" * 50)

### Estadísticos Descriptivos Relevantes ###
       fixed acidity  volatile acidity  citric acid  residual sugar  \
count    1599.000000       1599.000000  1599.000000     1599.000000
mean        8.319637          0.527821     0.270976        2.538806
std         1.741096          0.179060     0.194801        1.409928
min         4.600000          0.120000     0.000000        0.900000
25%         7.100000          0.390000     0.090000        1.900000
50%         7.900000          0.520000     0.260000        2.200000
75%         9.200000          0.640000     0.420000        2.600000
max        15.900000          1.580000     1.000000       15.500000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  1599.000000          1599.000000           1599.000000  1599.000000
mean      0.087467            15.874922             46.467792     0.996747
std       0.047065            10.460157             32.895324     0.001887
min       0.012000             1.000000              6.000000     0.990070
25%       0.070000             7.000000             22.000000     0.995600
50%       0.079000            14.000000             38.000000     0.996750
75%       0.090000            21.000000             62.000000     0.997835
max       0.611000            72.000000            289.000000     1.003690

                pH    sulphates      alcohol      quality
count  1599.000000  1599.000000  1599.000000  1599.000000
mean      3.311113     0.658149    10.422983     5.636023
std       0.154386     0.169507     1.065668     0.807569
min       2.740000     0.330000     8.400000     3.000000
25%       3.210000     0.550000     9.500000     5.000000
50%       3.310000     0.620000    10.200000     6.000000
75%       3.400000     0.730000    11.100000     6.000000
max       4.010000     2.000000    14.900000     8.000000
--------------------------------------------------

In [102]:
# (b) Convierte la columna quality en una columna categórica con tres categorías:
# • bueno
# • regular
# • malo

def convertir_categoria(q):
    if q >= 7:
        return "bueno"
    elif q >= 5:
        return "regular"
    else:
        return "malo"

df["quality_cat"] = df["quality"].apply(convertir_categoria)
df = df.drop(columns=['quality']) # eliminar la columna original

df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_cat
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular

In [103]:
# (c) Seleccionar los vinos malos y eliminarlos

df = df[df["quality_cat"] != "malo"].copy()
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_cat
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular

In [104]:
# (d) Convierte los valores de la columna citric acid a porcentajes.
import pandas as pd
import numpy as np

# Multiplicar por 100 y renombrar la columna para reflejar la unidad
df['citric acid (%)'] = df['citric acid'] * 100
df = df.drop(columns=['citric acid']) # eliminar la columna original
df

,fixed acidity,volatile acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_cat,citric acid (%)
0,7.4,0.700,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular,0.0
1,7.8,0.880,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular,0.0
2,7.8,0.760,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular,4.0
3,11.2,0.280,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular,56.0
4,7.4,0.700,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular,8.0
1595,5.9,0.550,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular,10.0
1596,6.3,0.510,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular,13.0
1597,5.9,0.645,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular,12.0
1598,6.0,0.310,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular,47.0

In [114]:
# (e) Obtén los siete vinos con mayor valor de pH.

vinos_mayor_pH = df.nlargest(7, 'pH')

print("### Los Siete Vinos con Mayor pH ###")
vinos_mayor_pH

### Los Siete Vinos con Mayor pH ###

,fixed acidity,volatile acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_cat,citric acid (%)
1316,5.4,0.740,1.20,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,regular,0.0
1321,5.0,0.740,1.20,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,regular,0.0
695,5.1,0.470,1.30,0.034,18.0,44.0,0.99210,3.90,0.62,12.8,regular,2.0
95,4.7,0.600,2.30,0.058,17.0,106.0,0.99320,3.85,0.60,12.9,regular,17.0
1111,5.4,0.420,2.00,0.092,23.0,55.0,0.99471,3.78,0.64,12.3,bueno,27.0
1300,5.2,0.645,2.15,0.080,15.0,28.0,0.99444,3.78,0.61,12.5,regular,0.0
553,5.0,1.040,1.60,0.050,32.0,96.0,0.99340,3.74,0.62,11.5,regular,24.0

In [117]:
# Ahora crea un fichero .py que defina las siguientes funciones:
# (a) eliminaDecimales(df, col): recibe un DataFrame y el nombre de una columna, y crea una nueva columna llamada <col> sin decimales con el mismo
# valor pero truncado (sin decimales).
# (b) calculaRatio(df, col1, col2): calcula el ratio entre dos columnas y genera una excepción si algún valor del ratio es mayor que 1.

# Aplica la primera función a la columna alcohol y la segunda a las columnas total sulfur dioxide y free sulfur dioxide.

import pandas as pd
# Importar las funciones del archivo que acabas de crear
from funciones_analisis import eliminaDecimales, calculaRatio 

# 1. Aplicar eliminaDecimales a la columna 'alcohol'
print("--- Aplicando eliminaDecimales a 'alcohol' ---")
df = eliminaDecimales(df, 'alcohol')
print(df[['alcohol', 'alcohol_sin_decimales']].head())

# 2. Aplicar calculaRatio a 'total sulfur dioxide' y 'free sulfur dioxide'
print("\n--- Aplicando calculaRatio ---")
try:
    df = calculaRatio(df, 'total sulfur dioxide', 'free sulfur dioxide')
    print("Ratio calculado exitosamente.")
except ValueError as e:
    
    print(f"La función levantó la excepción esperada: {e}")
except KeyError as e:
    print(f"Error: {e}")

--- Aplicando eliminaDecimales a 'alcohol' ---
   alcohol  alcohol_sin_decimales
0      9.4                    9.0
1      9.8                    9.0
2      9.8                    9.0
3      9.8                    9.0
4      9.4                    9.0

--- Aplicando calculaRatio ---
La función levantó la excepción esperada: Al menos un valor en el ratio ratio_total sulfur dioxide_a_free sulfur dioxide es mayor que 1. Excepción generada según lo solicitado.

In [118]:
# 4. Combinando información en pandas
# Dispones de los siguientes DataFrames:
import pandas as pd

estudiantes = pd.DataFrame ({
    "id": [1, 2, 3, 4],
    "nombre": ["Ana", "Luis", "Marta", "Jorge"]
})
notas = pd.DataFrame({
    "id": [1, 2, 2, 5],
    "asignatura": ["Matemáticas", "Historia", "Química", "Biología"],
    "nota": [8.5, 7.0, 6.5, 9.0]
})
print("DataFrame estudiantes:\n", estudiantes)
print("\nDataFrame notas:\n", notas)

DataFrame estudiantes:
    id nombre
0   1    Ana
1   2   Luis
2   3  Marta
3   4  Jorge

DataFrame notas:
    id   asignatura  nota
0   1  Matemáticas   8.5
1   2     Historia   7.0
2   2      Química   6.5
3   5     Biología   9.0

In [119]:
# Realiza las siguientes tareas:
# (a) Realiza un merge interno (inner ) entre ambos DataFrames. ¿Cuántas filas se obtienen? ¿Por qué?

merge_interno = pd.merge(estudiantes, notas, on='id', how='inner')

print("\n(a) Merge Interno:\n", merge_interno)

# Solo los IDs 1 y 2 existen en ambas tablas.

# El ID 2 (Luis) aparece dos veces en la tabla notas (Historia y Química), por lo que el resultado incluye dos filas para Luis.

# Los estudiantes con IDs 3 (Marta) y 4 (Jorge), y la nota con ID 5 se eliminan porque no tienen coincidencia en el otro DataFrame.

(a) Merge Interno:
    id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5

In [121]:
# (b) Realiza un merge externo (outer ). Explica las filas que aparecen con valores nulos.

merge_externo = pd.merge(estudiantes, notas, on='id', how='outer')

print("\n(b) Merge Externo:\n", merge_externo)

# Filas 3 y 4 (Marta y Jorge): Aparecen con NaN en las columnas asignatura y nota porque no existe ningún registro de notas con el id 3 o 4 en la tabla notas.
# Fila 5 (ID 5 / Biología): Aparece con NaN en la columna nombre porque no existe un estudiante con el id 5 en la tabla estudiantes.

(b) Merge Externo:
    id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   3  Marta          NaN   NaN
4   4  Jorge          NaN   NaN
5   5    NaN     Biología   9.0

In [122]:
# (c) Realiza un left merge usando estudiantes como tabla izquierda. ¿Qué información se pierde respecto al outer?
merge_izquierdo = pd.merge(estudiantes, notas, on='id', how='left')

print("\n(c) Merge Izquierdo:\n", merge_izquierdo)

# Información que se pierde respecto al outer merge: Se pierde la fila con el ID 5 (la nota de Biología). Esto se debe a que la 
# operación left exige que el id exista en la tabla izquierda (estudiantes), y el ID 5 solo existía en la tabla notas.

(c) Merge Izquierdo:
    id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   3  Marta          NaN   NaN
4   4  Jorge          NaN   NaN

In [123]:
# (d) Realiza un right merge usando notas como tabla derecha. ¿Qué estudiantes desaparecen en el resultado?

merge_derecho = pd.merge(estudiantes, notas, on='id', how='right')

print("\n(d) Merge Derecho:\n", merge_derecho)
# Estudiantes que desaparecen en el resultado: Desaparecen Marta (ID 3) y Jorge (ID 4). Esto ocurre porque no tienen ningún registro de notas 
# en la tabla derecha (notas), y la operación right solo garantiza la inclusión de las filas de la tabla derecha.

(d) Merge Derecho:
    id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   5    NaN     Biología   9.0

In [124]:
# (e) Añade una columna llamada curso al DataFrame estudiantes. Después, combina los datos utilizando un merge múltiple 
# por id y explica el resultado.

estudiantes['curso'] = ['A', 'A', 'B', 'B']

print("\nEstudiantes con 'curso' añadido:\n", estudiantes)

# Combina los DataFrames (merge múltiple por 'id')
merge_final = pd.merge(estudiantes, notas, on='id', how='inner')

print("\n(e) Merge Múltiple Final:\n", merge_final)

Estudiantes con 'curso' añadido:
    id nombre curso
0   1    Ana     A
1   2   Luis     A
2   3  Marta     B
3   4  Jorge     B

(e) Merge Múltiple Final:
    id nombre curso   asignatura  nota
0   1    Ana     A  Matemáticas   8.5
1   2   Luis     A     Historia   7.0
2   2   Luis     A      Química   6.5

In [125]:
# 5. Agregaciones y operaciones con groupby
#En este ejercicio se trabajará con un conjunto de datos que contiene información sobre ventas realizadas por una empresa en distintas regiones.
# Considera el siguiente DataFrame:
import pandas as pd

ventas = pd.DataFrame({
"region": ["Norte","Norte","Sur","Este","Sur","Este","Oeste",
"Oeste","Norte","Sur"],
"vendedor": ["Ana","Luis","Ana","Jorge","Luis","Ana","Marta",
"Luis","Ana","Jorge"],
"ventas": [1200, 800, 950, 1100, 400, 1600, 700, 450, 895, 900],
"producto": ["A","A","B","A","B","A","B","A","B","B"]
})

# Realiza las siguientes tareas:
# (a) Obtén el total de ventas por región.

ventas_por_region = ventas.groupby('region')['ventas'].sum()

print("\n(a) Total de ventas por región:\n", ventas_por_region)

(a) Total de ventas por región:
 region
Este     2700
Norte    2895
Oeste    1150
Sur      2250
Name: ventas, dtype: int64

In [127]:
# (b) Calcula la media, el valor máximo y el mínimo de las ventas agrupadas por vendedor.

resumen_por_vendedor = ventas.groupby('vendedor')['ventas'].agg(['mean', 'max', 'min'])

print("\n(b) Resumen de ventas por vendedor:\n", resumen_por_vendedor)

(b) Resumen de ventas por vendedor:
              mean   max  min
vendedor
Ana       1161.25  1600  895
Jorge     1000.00  1100  900
Luis       550.00   800  400
Marta      700.00   700  700