In [13]:
# Práctica II

In [2]:
## Ejercicios
import pandas as pd
import numpy as np

# 1. Creación de DataFrames
# (a) Crea un DataFrame df1 con una columna llamada numeros que contenga los valores del 0 al 19.
data = list(range(20))
df1 = pd.DataFrame({'Numeros': data})
df1

    Numeros
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19

In [3]:
# (b) Crea un DataFrame df2 con una columna aleatorios de tamaño 10 con números aleatorios entre 0 y 1.

np.random.seed(10)

numeros_aleatorios = np.random.rand(10)
df2 = pd.DataFrame({'Aleatorios': numeros_aleatorios})
df2

   Aleatorios
0    0.771321
1    0.020752
2    0.633648
3    0.748804
4    0.498507
5    0.224797
6    0.198063
7    0.760531
8    0.169111
9    0.088340

In [4]:
# (c) Combina los DataFrames anteriores df1 y df2 en un nuevo DataFrame llamado df3.

df3 = pd.concat([df1,df2])
df3

    Numeros  Aleatorios
0       0.0         NaN
1       1.0         NaN
2       2.0         NaN
3       3.0         NaN
4       4.0         NaN
5       5.0         NaN
6       6.0         NaN
7       7.0         NaN
8       8.0         NaN
9       9.0         NaN
10     10.0         NaN
11     11.0         NaN
12     12.0         NaN
13     13.0         NaN
14     14.0         NaN
15     15.0         NaN
16     16.0         NaN
17     17.0         NaN
18     18.0         NaN
19     19.0         NaN
0       NaN    0.771321
1       NaN    0.020752
2       NaN    0.633648
3       NaN    0.748804
4       NaN    0.498507
5       NaN    0.224797
6       NaN    0.198063
7       NaN    0.760531
8       NaN    0.169111
9       NaN    0.088340

In [5]:
# (d) Guarda el DataFrame df3 en un fichero .csv.

df3.to_csv('mi_dataframe_3.csv', index=False)

In [6]:
# 2. Indexación y selección (10 pts)
# Dado el DataFrame:
import pandas as pd
df = pd.DataFrame({
"A": range(1, 11),
"B": [5,3,6,8,2,9,1,7,4,10]
})

# (a) Selecciona las filas donde el valor de la columna B sea mayor que 5.

mascara = df['B'] > 5

df_filtrado = df[mascara]

print("### DataFrame Filtrado (B > 5) ###")
print(df_filtrado)

### DataFrame Filtrado (B > 5) ###
    A   B
2   3   6
3   4   8
5   6   9
7   8   7
9  10  10

In [7]:
# (b) Cambia los valores menores que 4 en la columna B a NaN. Para usar el valor NaN hay que utilizar el código pd.NA

mascara_nan = df['B'] < 4


df.loc[mascara_nan, 'B'] = pd.NA

print("### DataFrame con pd.NA en Columna B (B < 4) ###")
print(df)

### DataFrame con pd.NA en Columna B (B < 4) ###
    A     B
0   1   5.0
1   2   NaN
2   3   6.0
3   4   8.0
4   5   NaN
5   6   9.0
6   7   NaN
7   8   7.0
8   9   4.0
9  10  10.0